/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'aos/dist/aos.css';
body {
  @apply bg-[#0f0f0f] text-light;
  font-family: 'Segoe UI', sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 100px;
}